# Whatever I need
alias flex='clear; neofetch; sleep 9999999'
alias hdd='cd ~/HDD'
alias work='cd ~/Work'
alias school='cd ~/Work/school'
alias color='colortest-8'
alias aliases='bat ~/.aliases'
alias caliases='vim ~/.aliases'
alias lh='ls -Ah'
alias top='ytop'
alias clr='clear'
alias bigtext='clear; figlet'
alias linuxinstalldate='sudo tune2fs -l /dev/sda1 | grep "Filesystem created:"'
alias logout='i3-msg exit'
alias polyconf='nvim ~/.config/polybar/config'
alias i3conf='nvim ~/.config/i3/config'
alias kittyconf='nvim ~/.config/kitty/kitty.conf'
alias makerunnable='chmod +x'
alias mr='chmod +x'
alias home='cd ~'
alias asciivideo='DISPLAY= mpv --quiet --vo=caca'
alias asciivideonocolor='DISPLAY= mpv --quiet --vo=aa'
alias fd='fdfind'
alias fed='fzf | xargs -r $EDITOR'
alias vim='nvim'
alias vi='nvim'
alias vimconf='nvim ~/.vimrc'
alias ra='setsid -f'
alias xc='xxd -p'
alias resize='mkdir resized; for file in *.jpg; do convert $file -resize 1240 resized/$file; done'
alias fcl='fortune | cowsay | lolcat'
# editor
export EDITOR="nvim"

# git
alias g='git'
alias gr='git rebase'
alias gro='git rebase origin/master'
alias grc='git rebase --continue'
alias grs='git rebase --skip'
alias ga='git add'
alias gc='git commit -m'

