# Whatever I need
alias epub='~/.scripts/epub.sh'
alias flex='clear; neofetch; sleep 9999999'
alias osu='xsetwacom set "HUION Huion Tablet Pen stylus" Area 10842 340 18436 4612; ~/Games/osu.AppImage; xsetwacom set "HUION Huion Tablet Pen stylus" Area 0 0 33020 20320'
alias hdd='cd /mnt/4a2a9151-8f05-4326-ad0a-f3e087d86a6c'
alias update='sudo apt update; sudo apt upgrade -y; sudo apt autoremove -y; sudo gem update; rustup update'
alias color='colortest-8'
alias aliases='bat ~/.aliases'
alias caliases='vim ~/.aliases'
alias lh='ls -Ah'
alias top='ytop'
alias clr='clear'
alias linuxinstalldate='sudo tune2fs -l /dev/sda1 | grep "Filesystem created:"'
alias logout='pkill sowm'
alias present='~/.scripts/present.sh'

# git
alias g='git'
alias gr='git rebase'
alias gro='git rebase origin/master'
alias grc='git rebase --continue'
alias grs='git rebase --skip'
alias ga='git add'
alias gc='git commit -m'
