
cls ()
{
    cd "$@";
    ls
}

epub ()
{
    pandoc -f epub -t html "$@" | w3m -T text/html
}

osu ()
{
    xsetwacom set "HUION Huion Tablet Pen stylus" Area 10842 340 18436 4612
    ~/Games/osu.AppImage "$@"
    xsetwacom set "HUION Huion Tablet Pen stylus" Area 0 0 33020 20320
}

present ()
{
    FILE_RANDOMIZER=$((1 + RANDOM % 1000))
    pandoc "$@" -t beamer -o /tmp/"$@"-$FILE_RANDOMIZER.pdf
    zathura -P 1 /tmp/"$@"-$FILE_RANDOMIZER.pdf
    rm /tmp/"$@"-$FILE_RANDOMIZER.pdf
}

loop ()
{
    while true; do
    $@
    done
}

